body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: hsl(216, 12%, 8%) !important;
}

.card {
  background: hsl(213, 19%, 18%) !important;
  border-radius: 20px !important;
  max-width: 350px;
  margin: 10em 0;
}

.star,
.rate {
  background: hsl(213, 20%, 25%) !important;
  margin: 0 0.3em;
  padding: 0.5em 0.7em;
  border-radius: 50%;
  .fa {
    color: orange;
    font-size: 0.8em;
  }
}

.small {
  color: hsl(217, 12%, 63%) !important;
}

.rate {
  padding: 0.5em 1em;
  color: hsl(217, 12%, 63%);
}
.rate:hover {
  background: darkorange !important;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.submit button {
  border-radius: 20px;
  background: darkorange;
  font-weight: 500;
}

.submit button:hover {
  background: #fff;
  color: darkorange !important;
  transition: all 0.3s;
}

.message p {
  background: hsl(213, 20%, 25%) !important;
  display: inline-block;
  color: darkorange;
  font-size: 0.8em;
  padding: 0.3em 1em;
  border-radius: 20px;
}

.sibling {
  background: hsl(217, 12%, 63%) !important;
  color: #fff;
  transition: all 1s;
}

@media (max-width: 376px) {
  .card {
    margin: 10em 2em;
  }
}
